
.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
canvas {
    display: flex!important;
    position: absolute;
    z-index: -1;
}
header {
    color: black;
}
.rec__banner-img img {
    position: absolute;
    top: 0;
    left: -33%;
    width: 57%;
    z-index: -1;
}
.rec__animated .obluchateli-promo__recirculators img {
    width: 100%;
    min-width: 100px;
    max-width: 100px;
}
.rec__banner-description {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    background-color: rgb(241, 241, 244);
    width: 725px;
    margin-bottom: 10px;
    padding: 30px 16px 30px 80px;
    box-sizing: border-box;
    font-family: inherit;
    text-align: left;
}
.rec__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 61px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 13px;
    line-height: normal;
    padding-left: 23%;
    padding-right: 16px;
    color: rgb(202, 32, 50);
    width: 725px;
    text-align: left;
}
.rec__animated-img1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
}
.rec__animated-img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-150deg);
    transform: translate(-50%,-50%) rotate(-150deg);
    max-width: 70%;
}
.rec__animated {
    margin-left: 5%;
}
.rec__banner {
    position: relative;
    width: 870px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}
.rec .section.section1, .rec__banner-block-img {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.rec .section.section1, .rec__banner-block {
    background: #f1f1f4;
    width: 160px;
    height: 202px;
    margin-right: 10px;
}
.rec, .rec__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.rec .section.section1, .rec__banner-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 83%;
    margin-left: 18%;
    justify-content: flex-end;
}
.rec .section.section1 .rec__animated {
    flex-grow: 1;
    position: relative;
}
.rec, .section.section1, .rec__banner-block-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik;
    font-size: 16px;
    padding: 10px 14px;
    text-align: center;
}
.section2 .rec__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ca2032;
}
/*button*/
.button-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.button-container button {
    margin-right: 13%;
    margin-top: 3%;
}
.rec__banner-content button {
    display: flex;
}
.obluchateli-promo__recirculators {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 71%;
    height: 588px;
}
.obluchateli-promo__recirculators-bacila--1 {
    top: -123px;
    left: -25px;
    transition: top 1s ease,left 1s ease,-webkit-transform 1s ease;
    transition: top 1s ease,left 1s ease,transform 1s ease;
    transition: top 1s ease,left 1s ease,transform 1s ease,-webkit-transform 1s ease;
}

.obluchateli-promo__recirculators-bacila--1, .obluchateli-promo__recirculators-bacila--4, .obluchateli-promo__recirculators-bacila--5, .obluchateli-promo__recirculators-bacila--7 {
    width: 21px;
    height: 21px;
    background-image: url('../img/obluchateli-promo__recirculators-bacila--1.png');
}
.obluchateli-promo__recirculators-bacila {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.obluchateli-promo__recirculators-bacila--2 {
    top: -120px;
    left: 45px;
    transition: top .6s ease,left .6s ease,-webkit-transform .6s ease;
    transition: top .6s ease,left .6s ease,transform .6s ease;
    transition: top .6s ease,left .6s ease,transform .6s ease,-webkit-transform .6s ease;
}
.obluchateli-promo__recirculators-bacila--2, .obluchateli-promo__recirculators-bacila--6 {
    width: 42px;
    height: 42px;
    background-image: url('../img/obluchateli-promo__recirculators-bacila--2.png');
}
.obluchateli-promo__recirculators-bacila--6 {
    left: 71%;
    top: -20%;
}
.obluchateli-promo__recirculators-bacila--7 {
     left: 77%;
     top: -7%;
}
.obluchateli-promo__recirculators-bacila--5 {
    left: -28%;
    top: -1%;
}
.obluchateli-promo__recirculators-bacila--4 {
    top: -6%;
    left: 113%;
}
.obluchateli-promo__recirculators-bacila--3 {
    left: 47%;
    top: -9%;
    transition: top 0.7s ease 0s, left 0.7s ease 0s, transform 0.7s ease 0s, -webkit-transform 0.7s ease 0s;
}
 .obluchateli-promo__recirculators-bacila--3 {
     width: 37px;
     height: 37px;
     background-image: url('../img/obluchateli-promo__recirculators-bacila--3.png');
 }
i {
    font-family: dobrota;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.rec, .section.section1 .rec__animated {
    flex-grow: 1;
    position: relative;
}
.available {
    font-size: 24px;
}
.patent {
    display: flex;
    justify-content: left;
    color: #000000;
    font-size: 2em;
    align-items: center;
    width: 100%;
    background-color: #f1f1f4;
    padding: 4% 6% 4% 6%;
    text-align: left;
    margin-top: 2%;
    height: 9%;
}
.rec, .rec__row {
    display: flex;
    align-items: center;
}
.rec, .section.section1, .rec__inner {
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
}
.inShops {
    padding-top: 13px;
}
.number {
    min-width: 170px;
    color: darkred;
    width: 100%;
    display: flex!important;
    justify-content: flex-end;
    align-self: center;
    align-content: center;
    align-items: center;
}
.price {
    width: 100%;
    height: 50px;
    background-color: darkred;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 122px;
    max-width: 122px;
    display: flex;
}
.navbar-nav a {
    font-size: 22px;
}
.nav-item {
    min-width: 107px;
}
.brand {
    color: gray!important;
}
.container-3 {
    background-color: white;
}
.section-3 .rec__title {
    font-size: 27px;
    padding: 0;
    border-bottom: solid #c60000;
    padding-bottom: 10px;
    color: black;
    max-width: 600px!important;
}
.section-3 .rec__content {
    max-width: 600px!important;
}
.section-3 .rec__content button {
    margin-top: 10px;
}
.page-footer {
    margin-top: 0!important;
    padding-top: 0!important;
}
.flex-start {
    display: flex;
    justify-content: center;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.container-2 {
    background-color: inherit;
}
.section-2 {
    background-image: url("../img/bg.jpg");
    background-size: cover;
}
.forHome {
    font-size: 14px;
}
.section-2 .rec__title {
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 20px;
    background-color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.section-2 .rec__content {
margin-top: 10px;
}
.section-2 .row {
    padding-bottom: 50px;
    padding-top: 50px;
}
.section-2 .rec__title-text span {
    font-size: 24px;
    box-sizing: content-box;
}
.section-2 .rec__title-text .beFast {
    font-size: 18px;
    color: gray;
}
.right {
text-align: right;
    width: 100%;
}
.section-2 .rec__title-text {
    display: flex;
    flex-wrap: wrap;
}
.section-2 .rec__list {
    list-style: none;
    padding-left: 0px;
}
.section-2 .rec__item {
     display: flex;
     background-color: white;
     margin-bottom: 10px;
     height: 50px;
 }
.section-2 .rec__item img {
    display: flex;
    margin-right: 10px;
    width: 55px;
}
.check {
    width: 100%;
    max-width: 60px;
    display: flex;
    justify-content: flex-end;
}
.section-2 .rec__item-number {
    color: #ccc;
    font-size: 36px;
    font-weight: 500;
    font-family: Rubik;
    letter-spacing: .05em;
    margin-right: 8px;
    padding: 0px 10px 0px 20px;
}
.hiddenForm {
    display: none!important;
}
.section-2 .rec__item-text {
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 100%;
}
.container-3 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.container-4 .row {
    margin-bottom: 51px;
}
/*FORM*/
.main_form {
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #8b0000c9;
    border-radius: 10px;
    height: 445px;
    min-width: 308px;
}
.main_form_hid {
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #8b0000c9;
    border-radius: 10px;
    height: 445px;
    min-width: 308px;
    align-content: center;
    justify-content: center;
}
.main_form_hid h2 {
    padding: 0 14% 0 13%;
    font-size: 15px;
    color: wheat;
    text-align: center;
}
.agreement {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0 25px 0 25px;
}
.form-input {
    width: 100%;
    padding: 0px 30px 0px 30px;
}
.form-control {
    margin-top: 7px;
}
.container-btn-form {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
}
.container-2 form {
    display: flex;
    justify-content: center;
}
.container-2 .col-sm {
    display: flex;
    align-items: center;
}
.how-img {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.rec .rec__banner-img {
    width: 100%;
    /* height: auto; */
    max-height: 760px;
    min-height: 760px;
}
.agreeText {
    color: white;
    padding-left: 10px;
}
.text_block {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 14px 25px 0px 30px;
}
.container-btn-form {
    display: flex;
    justify-content: center;
}
/*blocks*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.container-5 .h3{
    font-family: 'Poppins', sans-serif;
}

.social-box .box{
    background: #FFF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.social-box .box img{
    transition: 1s;
}
.social-box .q1:hover {
    box-shadow: 0 0 6px #4183D7;
    transform: scale(1.5);
    padding: 0 0 0 0;
    z-index: 5;
}
.social-box .q2:hover {
    box-shadow: 0 0 6px #4183D7;
    transform: scale(1.5);
    padding: 0 0 0 0;
    z-index: 5;
}
.social-box .q3:hover {
    box-shadow: 0 0 6px #4183D7;
    transform: scale(1.5);
    padding: 0 0 0 0;
    z-index: 5;
}
.social-box .q4:hover {
    box-shadow: 0 0 6px #4183D7;
    transform: scale(1.5);
    padding: 0 0 0 0;
    z-index: 5;
}
.social-box .q1 {
    transition: 0.5s;
}
.social-box .q2 {
    transition: 0.5s;
}
.social-box .q3 {
    transition: 0.5s;
}
.social-box .q4 {
    transition: 0.5s;
}
.documents {
    display: flex;
    padding-top: 0;
    padding-bottom: 40px;
    color: #9d0a0f;
    justify-content: center;
    align-items: center;
}
.container-5 {
    padding-top: 40px;
    padding-bottom: 3%;
}
.social-box .box .box-img{
    font-size: 15px;
    line-height: 30px;
}
.container-5 img {
    width: 100%;
}

.fa{
    color:#4183D7;
}
footer {
    padding: 0 8% 0px 8%;
}
@media (max-width: 1920px) {
    .section1 .button-container {
        max-width: 719px;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 1826px) {
    .rec__banner-img img {
        position: absolute;
        top: 0;
        left: -17%;
        width: 57%;
        z-index: -1;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 1600px) {
    .section1 .button-container {
        max-width: 719px;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 1440px) {
    .section1 .button-container {
        max-width: 719px;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 1366px) {
    .section1 .button-container {
        max-width: 66%;
        margin-left: 24%;
    }
    .rec__banner-description {
        max-width: 90%;
        margin-left: 16%;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 1280px) {
    .rec__animated {
        display: none;
    }
    .social-box .q1:hover {
        box-shadow: 0 0 6px #4183D7;
        transform: scale(1);
        padding: 0 0 0 0;
        z-index: 5;
    }
    .social-box .q2:hover {
        box-shadow: 0 0 6px #4183D7;
        transform: scale(1);
        padding: 0 0 0 0;
        z-index: 5;
    }
    .social-box .q3:hover {
        box-shadow: 0 0 6px #4183D7;
        transform: scale(1);
        padding: 0 0 0 0;
        z-index: 5;
    }
    .social-box .q4:hover {
        box-shadow: 0 0 6px #4183D7;
        transform: scale(1);
        padding: 0 0 0 0;
        z-index: 5;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 1024px) {
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (width: 768px) {
    .rec__banner-description {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        background-color: rgb(241, 241, 244);
        width: 725px;
        max-width: 70%;
        margin-left: 22%;
        margin-bottom: 10px;
        padding: 30px 16px 30px 80px;
        box-sizing: border-box;
        font-family: inherit;
        text-align: left;
    }
    .col-sm .rec__title {
         margin-left: 0%!important;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 768px) {
.container-3 .flex {
    display: none;
}
    .container-4 .row {
        margin-bottom: 20px;
        flex-wrap: nowrap;
        font-size: 13px;
    }
    .rec__banner-img img {
        position: absolute;
        top: 0;
        left: -21%;
        width: 56%;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }

}
@media (min-width: 1367px) {
.rec__banner-content .rec__title {
    margin-left: 5%;
}
}
@media (max-width: 746px) {
    .number {
        margin-left: 0;
        width: 83%;
        display: none!important;
        justify-content: flex-end;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
    .rec__title {
        padding-left: 23%!important;
         margin-left: 0!important;
    }
    .rec__banner-description {
        max-width: 77%!important;
        margin-left: 13%!important;
    }
    .rec__banner-description {

    }
    .rec__banner-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 73%;
        margin-left: 18%;
        justify-content: flex-end;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (min-width: 746px) {
.rec__title {
    margin-left: 20%;
    padding-left: 0;
}
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 720px) {
    .number {
        margin-left: 0;
        width: 100%;
        display: flex!important;
        justify-content: center;
    }
    .nav-item {
        display: flex;
        justify-content: center;
    }
    .rec__banner-img img {
        width: 55%;
        left: -15%;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}

@media (min-width: 480px) {
    .rec__title {
        margin-left: 20%;
        padding-left: 0;
    }
    .section-3 .rec__title {
        max-width: 100%!important;
    }
}

@media (max-width: 480px) {
    .rec__title {
        font-size: 23px;
    }
    .rec__banner-description {
        font-size: 20px;
    }
    .rec__banner, .rec__banner-content, .rec__title, .rec__banner-description {
        width: 100%!important;
    }
    .rec__banner-img img {
        position: absolute;
        top: 0;
        left: -26%;
        width: 80%;
        z-index: -1;
    }
    .rec, .section.section1, .rec__banner-block-text {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Rubik;
        font-size: 12px;
        padding: 5px 14px;
        text-align: center;
    }
    .rec .section.section1, .rec__banner-block-img {
        width: 100%;
        height: 76px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .button-container button {
        margin-left: 29%;
    }
    .button-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .rec__row {
        max-width: 480px;
    }
    .rec__banner-description {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        background-color: rgb(241, 241, 244);
        width: 725px;
        margin-bottom: 10px;
        padding: 20px 15px 20px 16px;
        box-sizing: border-box;
        font-family: inherit;
    }
    .rec .section.section1, .rec__banner-block {
        background: #f1f1f4;
        width: 109px;
        height: 149px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .rec, .section.section1, .rec__banner-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .rec__banner-description {
        font-size: 22px!important;
        max-width: 74%!important;
        margin-left: 23%!important;
    }
    .container-2 .text_block h2 {
        font-size: 15px;
        align-items: center;
    }
    .patent {
        margin-left: 14%;
    }
    .container-2 .text_block {
        align-items: center;
        padding: 7px 20px 0px 20px;
    }
    .container-2 .form-input {
        padding: 3px 25px 3px 25px;
    }
    .container-2 .main_form {
        height: 350px;
    }
    .agreement {
        padding: 0px 13% 0 14%;
    }
    .section-2 .rec__item-text {
        display: flex;
        align-items: center;
        padding-right: 10px;
        width: 100%;
    }
    .section-2 .rec__item {
        display: flex;
        background-color: white;
        margin-bottom: 10px;
        height: 74px;
    }
    .section-2 .rec__item img {
        width: 55px;
        height: 55px;
        align-self: center;
    }
}
@media (width: 411px) {
    .section1 .rec__banner-description {
        margin-left: 24%;
        padding-right: 0%;
        max-width: 76%;
    }
    .forHome {
        font-size: 10px!important;
    }
    .section1 button {
        margin-left: 45%
    }
    .patent {
        z-index: -1;
    }
    .rec__banner-row {
        margin-left: 15%;
        padding-right: 18%;

    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (width: 414px) {
    .section1 .rec__title {
        padding-left: 28%;
        padding-right: 14%;
    }
    .section1 .rec__banner-description {
        max-width: 70%;
        margin-left: 28%;
    }
    .forHome {
        font-size: 10px!important;
    }
    .section1 button {
        margin-left: 0;
    }
    .patent {
        z-index: -2;
    }
    .rec__banner-img img {
        position: absolute;
        top: 0;
        left: -21%;
        width: 80%;
        z-index: -1;
    }
    .rec__banner-row {
        margin-left: 15%;
        max-width: 78%;
        padding-left: 11%;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 375px) {
    .rec__banner-description {
        margin-left: 27%;
        width: 75% !important;
        font-size: 1.5em;
    }
    .rec, .section.section1, .rec__banner-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .button-container {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .patent {
        display: flex;
        justify-content: left;
        color: #000000;
        align-items: center;
        width: 86%;
        background-color: #f1f1f4;
        height: 71px;
        padding: 4% 6% 4% 6%;
        font-size: 18px;
        text-align: left;
    }
    .button-container button {
        margin-right: 13%;
        margin-top: 3%;
    }

    .section-2 .form-input {
        padding: 0px 6% 0px 6%;

    }

    ::-webkit-input-placeholder {
        font-size: 15px;
    }

    ::-moz-placeholder {
        font-size: 15px;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
        font-size: 15px;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
        font-size: 15px;
    }
    .container-btn-form button {
        width: 100px;
        height: 43px;
        font-size: 15px;
    }
    .section-2 .rec__item-text {
        font-size: 12px;
    }
    .rec__banner-img img {
        left: -35%;
        min-height: 888px;
        width: 100%;
    }
    .forHome {
        font-size: 10px!important;
    }
    .rec__title {
        padding-left: 28%;
        font-size: 17px;
        margin-left: 0;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
@media (max-width: 360px) {

}
@media (max-width: 320px) {
    .section-2 .rec__item-text {
        display: flex;
        align-items: center;
        padding-right: 10px;
        min-width: auto;
    }
    .how-img {
        flex: 0 0 50%;
        max-width: 37%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .main_form {
        flex-wrap: wrap;
        display: flex;
        width: 70%;
        margin-bottom: 15px;
        margin-top: 20px;
        background-color: #8b0000c9;
        border-radius: 10px;
        height: 445px;
        min-width: 250px!important;
}
    .rec__banner-content .rec__title {
        padding-left: 28%!important;
    }
    .rec__title {
        font-size: 18px;
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0!important;
    }
    .rec__banner-row {
        margin-left: 19%;
        width: 83%;
    }
    .patent {
        width: 100%;
    }
    .row .rec__title {
        padding-left: 0!important;
        margin-left: 0!important;
    }
}
